<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/cart.css}" href = "../static/css/cart.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img class="logo" th:src="@{/images/Group 514.png}" alt="Логотип цветочного магазина" src ="../static/images/Group 514.png">
        <div class="header_active">
            <div class="home_ico" onclick="location.href='index.html'">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 16 16" fill="none"><path d="M1 6V15H6V11C6 9.89543 6.89543 9 8 9C9.10457 9 10 9.89543 10 11V15H15V6L8 0L1 6Z" fill="#000000"/></svg>
            </div>
            <div class="reg_ico">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 16 16" fill="none"><path d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" fill="#000000"/><path d="M14 12C14 10.3431 12.6569 9 11 9H5C3.34315 9 2 10.3431 2 12V15H14V12Z" fill="#000000"/></svg>
            </div>
            <div class="cart-ico">
                <div class="cart_num">0</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><title>Корзина</title><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"><path d="M5 7h13.79a2 2 0 0 1 1.99 2.199l-.6 6A2 2 0 0 1 18.19 17H8.64a2 2 0 0 1-1.962-1.608z"/><path stroke-linecap="round" d="m5 7l-.81-3.243A1 1 0 0 0 3.22 3H2m6 18h2m6 0h2"/></g></svg>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main_product">
            <div class="product">
                <div class="info">
                    <img src="../static/images/item1.png" alt="product" class="info_img">
                    <div class="info_title">
                        <h3 class="title">Роза</h3>
                        <p>150 ₽</p>
                    </div>
                </div>
                <div class="score">
                    <span>-</span>
                    <span>1</span>
                    <span>+</span>
                </div>  
            </div>
            <div class="product">
                <div class="info">
                    <img src="../static/images/item1.png" alt="product" class="info_img">
                    <div class="info_title">
                        <h3 class="title">Роза</h3>
                        <p>150 ₽</p>
                    </div>
                </div>
                <div class="score">
                    <span>-</span>
                    <span>1</span>
                    <span>+</span>
                </div>  
            </div>
        </div>
        <div class="sum_cart">
            <h3 class="result">Итого: 150 ₽</h3>
            <button class="order_bt">Оформить заказ</button>
        </div>
    </main>
    <footer class="footer">
        <img class="logo" th:src="@{/images/Group 514.png}" alt="Логотип" src="../static/images/Group 514.png">
        <h3 class="footer_title">Цветочный магазин в Павловском Посаде<br>Доставка свежих цветов ежедневно<br>+7 (495) 123-45-67</h3>
    </footer>
    <div class="modal_reg">
        <div class="modal_content_reg">
            <img src="../static/images/regimg.png" alt="regimg" class="modal_img_reg" th:src="@{/images/regimg.png}">
            <span class="close_reg">&times;</span>
            <h2 class="modal_title_reg">Регистрация</h2>
            <form class="modal_form_reg">
                <input type="text" class="modal_input_reg" placeholder="Имя">
                <input type="email" class="modal_input_reg" placeholder="Email">
                <input type="password" class="modal_input_reg" placeholder="Пароль">
                <button type="submit" class="modal_button_reg">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/main2.js}" src="../static/js/main2.js"></script>
</body>
</html>